@using UTB.Eshop.Nagy.Web.Models.Database.Configuration;
@{
	ViewData["Title"] = "Privacy Policy";
}
@{
	if (@LanguageConfig.Language == "EN")
	{
		<h1>Privacy Policy for utb.eshop.nagy.web.cz</h1>
		<div>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at nagy@utbeshop.cz.</div>
		<div>At utb.eshop.nagy.web.cz we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by utb.eshop.nagy.web.cz and how we use it.</div>
		<h3>Log Files</h3>
		<div>Like many other Web sites, utb.eshop.nagy.web.cz makes use of log files. These files merely logs visitors to the site – usually a standard procedure for hosting companies and a part of hosting services's analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.</div>
		<h3>Cookies and Web Beacons</h3>
		<div>utb.eshop.nagy.web.cz uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser.</div>
		<h3>DoubleClick DART Cookie</h3>
		<div>→ Google, as a third party vendor, uses cookies to serve ads on utb.eshop.nagy.web.cz.</div>
		<div>→ Google's use of the DART cookie enables it to serve ads to our site's visitors based upon their visit to utb.eshop.nagy.web.cz and other sites on the Internet.</div>
		<div>→ Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL – <a href="http://www.google.com/privacy_ads.html" target=”_blank”>http://www.google.com/privacy_ads.html</a></div>
		<h3>Our Advertising Partners</h3>
		<div>Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include …….</div>
		<ul>
			<li>Google</li>
			<li>Commission Junction</li>
			<li>Amazon</li>
			<li>Adbrite</li>
			<li>Clickbank</li>
			<li>Yahoo! Publisher Network</li>
			<li>Chitika</li>
			<li>Kontera</li>
		</ul>
		<div>While each of these advertising partners has their own Privacy Policy for their site, an updated and hyperlinked resource is maintained here: <a href="https://www.privacypolicyonline.com/privacy-policy-links/" target=”_blank”>Privacy Policy Links.</a></div>
		<div>You may consult this listing to find the privacy policy for each of the advertising partners of utb.eshop.nagy.web.cz.</div>
		<div>These third-party ad servers or ad networks use technology in their respective advertisements and links that appear on utb.eshop.nagy.web.cz and which are sent directly to your browser. They automatically receive your IP address when this occurs. Other technologies (such as cookies, JavaScript, or Web Beacons) may also be used by our site's third-party ad networks to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on the site.</div>
		<div>utb.eshop.nagy.web.cz has no access to or control over these cookies that are used by third-party advertisers.</div>
		<h3>Third Party Privacy Policies</h3>
		<div>You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. utb.eshop.nagy.web.cz's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites. You may find a comprehensive listing of these privacy policies and their links here: <a href="https://www.privacypolicyonline.com/privacy-policy-links/" target=”_blank”>Privacy Policy Links.</a></div>
		<div>If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites. <a href="https://www.privacypolicyonline.com/what-are-cookies/" target=”_blank”>What Are Cookies?</a></div>
		<h3>Children's Information</h3>
		<div>
			We believe it is important to provide added protection for children online. We encourage parents and guardians to spend time online with their children to observe, participate in and/or monitor and guide their online activity.
			utb.eshop.nagy.web.cz does not knowingly collect any personally identifiable information from children under the age of 13. If a parent or guardian believes that utb.eshop.nagy.web.cz has in its database the personally-identifiable information of a child under the age of 13, please contact us immediately (using the contact in the first paragraph) and we will use our best efforts to promptly remove such information from our records.
		</div>
		<h3>Online Privacy Policy Only</h3>
		<div>
			This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there. This policy does not apply to any information collected offline or via channels other than this website.
		</div>
		<h3>Consent</h3>
		<div>By using our website, you hereby consent to our privacy policy and agree to its terms.</div>
		<h3>Update</h3>
		<div>This Privacy Policy was last updated on: Jan 10th, 2023. Should we update, amend or make any changes to our privacy policy, those changes will be posted here.</div>
	}
	else
	{
		<h1>Zásady ochrany osobních údajů pro utb.eshop.nagy.web.cz</h1>
		<div>Pokud potřebujete další informace nebo máte jakékoli dotazy týkající se našich zásad ochrany osobních údajů, neváhejte nás kontaktovat e-mailem na adrese nagy@utbeshop.cz.</div>
		<div>Na utb.eshop.nagy.web.cz považujeme soukromí našich návštěvníků za velmi důležité. Tento dokument o zásadách ochrany osobních údajů podrobně popisuje, jaké typy osobních údajů utb.eshop.nagy.web.cz shromažďuje a zaznamenává a jak je používá.</div>
		<h3>Soubory protokolu</h3>
		<div>Stejně jako mnoho jiných webových stránek využívá utb.eshop.nagy.web.cz soubory protokolu. Tyto soubory pouze zaznamenávají návštěvníky webu - obvykle se jedná o standardní postup hostingových společností a součást analytiky hostingových služeb. Informace uvnitř souborů protokolu zahrnují adresy internetového protokolu (IP), typ prohlížeče, poskytovatele internetových služeb (ISP), datum/čas, odkazující/odkazované stránky a případně počet kliknutí. Tyto informace slouží k analýze trendů, správě webu, sledování pohybu uživatelů po webu a shromažďování demografických informací. IP adresy a další podobné informace nejsou spojeny s žádnými informacemi, které by umožňovaly osobní identifikaci.</div>
		<h3>Soubory cookie a webové majáky</h3>
		<div>utb.eshop.nagy.web.cz používá soubory cookie k ukládání informací o preferencích návštěvníků, k zaznamenávání informací o tom, které stránky návštěvník navštěvuje, a k personalizaci nebo přizpůsobení obsahu našich webových stránek na základě typu prohlížeče návštěvníka nebo jiných informací, které návštěvník odesílá prostřednictvím svého prohlížeče.</div>
		<h3>Soubor cookie DART společnosti DoubleClick</h3>
		<div>→ Google jako dodavatel třetí strany používá k zobrazování reklam na utb.eshop.nagy.web.cz soubory cookie.</div>
		<div>→ Používání souboru cookie DART společností Google jí umožňuje zobrazovat reklamy návštěvníkům našich stránek na základě jejich návštěvy utb.eshop.nagy.web.cz a dalších stránek na internetu.</div>
		<div>→ Uživatelé se mohou odhlásit od používání souboru cookie DART tak, že navštíví zásady ochrany osobních údajů reklamní a obsahové sítě Google na následující adrese URL - <a href="http://www.google.com/privacy_ads.html" target=”_blank”>http://www.google.com/privacy_ads.html</a>.</div>
		<h3>Naši reklamní partneři</h3>
		<div>Někteří naši reklamní partneři mohou na našich stránkách používat soubory cookie a webové majáky. Mezi naše reklamní partnery patří .......</div>
		<ul>
			<li>Google</li>
			<li>Commission Junction</li>
			<li>Amazon</li>
			<li>Adbrite</li>
			<li>Clickbank</li>
			<li>Yahoo! Publisher Network</li>
			<li>Chitika</li>
			<li>Kontera</li>
		</ul>
		<div>Každý z těchto reklamních partnerů má pro své stránky vlastní zásady ochrany osobních údajů, aktualizovaný a hypertextově propojený zdroj je k dispozici zde: <a href="https://www.privacypolicyonline.com/privacy-policy-links/" target=”_blank”>Odkazy na zásady ochrany osobních údajů.</a></div>
		<div>V tomto seznamu můžete najít zásady ochrany osobních údajů pro každého z reklamních partnerů utb.eshop.nagy.web.cz.</div>
		<div>Tyto reklamní servery nebo reklamní sítě třetích stran používají technologie ve svých reklamách a odkazech, které se zobrazují na utb.eshop.nagy.web.cz a které jsou odesílány přímo do vašeho prohlížeče. They automatically receive your IP address when this occurs. Další technologie (jako jsou soubory cookie, JavaScript nebo webové majáky) mohou používat také reklamní sítě třetích stran na našich stránkách k měření účinnosti svých reklamních kampaní a/nebo k personalizaci reklamního obsahu, který se vám na stránkách zobrazuje.</div>
		<div>utb.eshop.nagy.web.cz nemá přístup k těmto souborům cookie, které používají inzerenti třetích stran, ani nad nimi nemá kontrolu.</div>
		<h3>Zásady ochrany osobních údajů třetích stran</h3>
		<div>Podrobnější informace o postupech těchto reklamních serverů třetích stran, jakož i pokyny, jak se z určitých postupů odhlásit, naleznete v příslušných zásadách ochrany osobních údajů těchto reklamních serverů třetích stran. Zásady ochrany osobních údajů utb.eshop.nagy.web.cz se nevztahují na činnosti těchto jiných inzerentů nebo webových stránek a nemůžeme je kontrolovat. Úplný seznam těchto zásad ochrany osobních údajů a odkazů na ně naleznete zde: <a href="http://www.google.com/privacy_ads.html" target=”_blank”>Odkazy na zásady ochrany osobních údajů.</a></div>
		<div>Pokud si přejete soubory cookie zakázat, můžete tak učinit prostřednictvím individuálních možností prohlížeče. Podrobnější informace o správě souborů cookie v konkrétních webových prohlížečích naleznete na příslušných webových stránkách prohlížečů. <a href="https://www.privacypolicyonline.com/what-are-cookies/" target=”_blank”>Co jsou soubory cookie?</a></div>
		<h3>Informace pro děti</h3>
		<div>Jsme přesvědčeni, že je důležité poskytnout dětem na internetu dodatečnou ochranu. Doporučujeme rodičům a opatrovníkům, aby trávili čas online se svými dětmi a pozorovali, účastnili se a/nebo sledovali a řídili jejich online aktivity. utb.eshop.nagy.web.cz vědomě neshromažďuje žádné osobně identifikovatelné údaje od dětí mladších 13 let. Pokud se rodič nebo opatrovník domnívá, že utb.eshop.nagy.web.cz má ve své databázi osobně identifikovatelné údaje dítěte mladšího 13 let, neprodleně nás kontaktujte (pomocí kontaktu uvedeného v prvním odstavci) a my vynaložíme veškeré úsilí, abychom takové údaje z našich záznamů neprodleně odstranili.</div>
		<h3>Pouze zásady ochrany osobních údajů online</h3>
		<div>Tyto zásady ochrany osobních údajů se vztahují pouze na naše online aktivity a platí pro návštěvníky našich webových stránek a pro informace, které jsou zde sdíleny a/nebo shromažďovány. Tyto zásady se nevztahují na žádné informace shromážděné offline nebo prostřednictvím jiných kanálů, než jsou tyto webové stránky.</div>
		<h3>Souhlas</h3>
		<div>Používáním našich webových stránek vyjadřujete souhlas s našimi zásadami ochrany osobních údajů a souhlasíte s jejich podmínkami.</div>
		<h3>Aktualizace</h3>
		<div>Tyto zásady ochrany osobních údajů byly naposledy aktualizovány dne: 10. ledna 2023. Pokud bychom naše zásady ochrany osobních údajů aktualizovali, doplnili nebo změnili, budou tyto změny zveřejněny zde.</div>
	}
}